* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins, sans-serif;
}

.area-page{
    width: 60%;
    margin: auto;
    position: relative;
}

.topo{
    width: 100%;
    height: 90px;
    background-color: #fff;
}

.topo .logotipo{
    width: 180px;
    position: relative;
}

.logotipo img{
    width: 40px;
    position: absolute;
    top: 20px;
}

.logotipo h1{
    font-size: 16px;
    color: black;
    position: absolute;
    top: 20px;
    left: 50px
}

.logotipo h2{
    font-size: 9px;
    color: #2f86d6;
    position: absolute;
    top: 42px;
    left: 50px;
}

.topo .nav{
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-top: 35px;
}

.nav a{
    text-decoration: none;
    color: #233032;
    margin: 5px;
}

.banner{
    width: 100%;
    height: 370px;
    background-color: #2f86d6;
}

.area-page .info{
    width: 40%;
    color: #fff;
    text-align: justify;
    line-height: 26px;
    position: absolute;
    top: 90px;
    left: 20px;
}

.info p{
    font-size: 10px;
    padding: 5px 0;
}

.info .paragrafo-grande{
    font-size: 16px;
    font-weight: bold;
}

.area-page .imagem-banner{
    width: 45%;
    position: absolute;
    top: 60px;
    right: 20px;
}

.imagem-banner img{
    width: 300px;
}

.anuncio1{
    width: 100%;
    height: 80px;
    background-color: #233032;
    color: #fff;
    line-height: 20px;
}

.texto-anuncio h3{
    font-size: 14px;
}

.texto-anuncio p{
    font-size: 10px;
}

.link{
    background-color: #2f86d6;
    width: 130px;
    padding: 10px;
    border-radius: 2px;
}

.link a{
    color:#fff;
    text-decoration: none;
    font-size: 12px;
}

.link img{
    width: 12px;
    padding-right: 5px; 
    margin: auto;
}

.area-page .texto-anuncio{
    position: absolute;
    top: 20px;
    left: 20px;
}

.area-page .link{
    position: absolute;
    top: 20px;
    right: 60px;
}

.conteudo{
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
}

.conteudo h3, .conteudo h4{
    font-size: 16px;
    line-height: 28px;
}

.conteudo h4 span{
    color: #2f86d6;
}

.conteudo img{
    width: 65px;
}

.area-vantagens{
    display: inline-flex;
    padding-top: 35px;
    padding-bottom: 35px;
}

.area-page .vantagens{
    width: calc((100% / 3) - 5px);
    margin: 5px;
}

.vantagens h5{
    font-size: 12px;
    font-weight: bold;
}

.vantagens p{
    font-size: 10px;
}

.conteudo-tab{
    width: 100%;
    height: 370px;
    background-color: #f1f3f7;
    text-align: center;
    padding-top: 35px;
}

.conteudo-tab h3{
    font-size: 16px;
    padding-bottom: 30px;
}

.conteudo-tab h3 span{
    color: #2f86d6;
}

.conteudo-tab img{
    width: 65px;
}

table{
    text-align: center;
    padding-top: 2px 0;
    background-color: #fff;
    margin: auto;
    box-shadow: 1px 1px 25px 5px  rgba(47, 134, 214, 1);
}

table th{
    font-size: 12px;
}

table .texto-peq{
    font-size: 8px;
    font-weight: normal;
}

table td{
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}

table .linha-destaque{
    background-color: #f1f3f7;
}

.anuncio2{
    width: 100%;
    height: 80px;
    background-color: #2f86d6;
    color: #fff;
    line-height: 20px;
}

.texto-anuncio2 p{
    font-size: 14px;
}

.link2{
    background-color: #233032;
    width: 130px;
    padding: 10px;
    border-radius: 2px;
}

.link2 a{
    color:#fff;
    text-decoration: none;
    font-size: 12px;
}

.link2 img{
    width: 12px;
    padding-right: 5px; 
    margin: auto;
}

.area-page .texto-anuncio2{
    position: absolute;
    top: 20px;
    left: 20px;
}

.area-page .link2{
    position: absolute;
    top: 20px;
    right: 60px;
}

.contatos{
    width: 100%;
    height: 250px;
    background-color: #fff;
    text-align: center;
}

.contatos p{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}

.contatos .logotipo2{
    width: 180px;
    position: relative;
    margin: auto;
    padding-bottom: 100px;
}

.logotipo2 img{
    width: 40px;
    position: absolute;
    top: 30px;
    left: 0;
}

.logotipo2 h3{
    font-size: 16px;
    color: black;
    position: absolute;
    top: 30px;
    left: 55px
}

.logotipo2 h4{
    font-size: 9px;
    color: #2f86d6;
    position: absolute;
    top: 52px;
    left: 55px;
}

.rodape{
    width: 100%;
    height:30px;
    background-color: #e0e3e9;
    text-align: center;
}

.rodape p{
    font-size: 10px;
    font-weight: bold;
    padding: 8px;
}

.rodape p span{
    color: #2f86d6;
}